.nav__logo {
  display: flex;
  justify-content: center;
}

.nav__logo > img {
  width: 200px;
  height: auto;
}

.nav__options {
  display: flex;
  justify-content: center;
}

.nav__option {
  padding: 0 50px;
  text-align: center;
}

.nav__option:hover {
  transform: scale(1.05);
}

#middle-div {
  border-left: 2px solid var(--red);
  border-right: 2px solid var(--red);
}

.nav__options > a {
  text-decoration: none;
  color: black;
  margin-bottom: 50px;
}

.nav-icon {
  color: var(--red);
}

/* ===== Media Queries ===== */

@media screen and (max-width: 769px){
  .nav__option {
    font-size: 11px;
  }
}
